:root{
  --fontfamily: 'Manrope';font-size: 15px;
}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("/assets/donut4.jpg");
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Add a black background color to the top navigation */
.topnav {
  margin-top: -950px;
  background-color: rgba(0,0,0,0.3);;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(53, 53, 53);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-image: linear-gradient(#DC8CB9,#dccbc6);
  border-radius: 3px;
  color: black;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  margin-top: -420px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
.image-container {
  background-image: url("img_nature.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}

.seethroughtext {
  background-image: linear-gradient(#DC8CB9,#dccbc6);
  color: black;
  font-size: 5vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 70%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 45%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  font-family: var(--fontfamily); /* Font family edit */
}
h2 {
  text-align: center;
  color: white;
  font-family: var(--fontfamily);
  position: relative;
  font-size: 3.5vw;
  text-shadow: 2px 3px black;
}
.firstparagraph{
  flex: content;
  background-color: rgba(78, 78, 78, 0.9);
  color: rgb(255, 255, 255);
  font-size: 2vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 70%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 35%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  font-family: var(--fontfamily); /* Font family edit */
  text-shadow: 2px 3px black; /* Text shadow */
  backdrop-filter: blur(10px); /* Blur the image behind the text */
}
.secondparagraph{
  background-color: rgba(78, 78, 78, 0.9);
  color: rgb(255, 255, 255);
  font-size: 2vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 70%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 87%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  font-family: var(--fontfamily); /* Font family edit */
  text-shadow: 2px 3px black; /* Text shadow */
  backdrop-filter: blur(10px); /* Blur the image behind the text */
}
.thirdparagraph{
  background-color: rgba(78, 78, 78, 0.9);
  color: rgb(255, 255, 255);
  font-size: 2vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 70%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 120%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  font-family: var(--fontfamily); /* Font family edit */
  text-shadow: 2px 3px black; /* Text shadow */
  backdrop-filter: blur(10px); /* Blur the image behind the text */
}

/* four image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.images{
  border-radius: 50%;  
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}